name: Base Test Job

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string
      coveralls:
        required: false
        type: boolean
      system:
        required: false
        type: boolean
      backing-only:
        required: false
        type: boolean
      shutdown:
        required: false
        type: string
      curl-elastic:
        required: false
        type: boolean

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: '18.17'

      - name: Upgrade npm
        run: npm i -g npm

      - name: Setup System
        if: ${{ inputs.system }}
        uses: restorecommerce/setup-system-action@v1
        with:
          backing-only: ${{ inputs.backing-only }}
          shutdown: ${{ inputs.shutdown }}

      - name: Install Dependencies
        run: npm ci

      - name: Cache Nx
        uses: actions/cache@v2
        with:
          path: node_modules/.cache/nx
          key: cache-1-nx-${{ inputs.package }}-${{ hashFiles('package-lock.json') }}-${{ github.sha }}
          restore-keys: |
            cache-1-nx-${{ inputs.package }}-${{ hashFiles('package-lock.json') }}-

      - name: Build
        run: npm run build -- --scope="@restorecommerce/${{ inputs.package }}" --include-dependencies

      - name: Test
        run: npm run test
        working-directory: ./packages/${{ inputs.package }}

      - name: Generate Report
        if: ${{ inputs.coveralls }}
        run: npm run lcov-report
        working-directory: ./packages/${{ inputs.package }}

      - name: Coveralls
        if: ${{ inputs.coveralls }}
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          base-path: packages/${{ inputs.package }}
          path-to-lcov: ./packages/${{ inputs.package }}/coverage/lcov.info

      - name: Curl Elastic
        if: ${{ inputs.curl-elastic }}
        run: curl "localhost:9200/logs-app-default/_search?size=100" | jq
