name: Base Build Job

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: '14.15'

      - name: Upgrade npm
        run: npm i -g npm

      - name: Install Dependencies
        run: npm ci && npm run install:ci -- --scope="@restorecommerce/${{ inputs.package }}" --include-dependencies

      - name: Cache Nx
        uses: actions/cache@v2
        with:
          path: node_modules/.cache/nx
          key: cache-nx-${{ inputs.package }}-${{ hashFiles('package-lock.json') }}-${{ github.sha }}
          restore-keys: |
            cache-nx-${{ inputs.package }}-${{ hashFiles('package-lock.json') }}-

      - name: Build
        run: npm run build -- --scope="@restorecommerce/${{ inputs.package }}" --include-dependencies
