name: build-test-facade

on:
  push:
    paths:
      - 'packages/facade/**'
      - '.github/workflows/build-test-facade.yaml'
      - '.github/workflows/base-build-job.yaml'
      - '.github/workflows/base-test-job.yaml'
  pull_request:
    paths:
      - 'packages/facade/**'
      - '.github/workflows/build-test-facade.yaml'
      - '.github/workflows/base-build-job.yaml'
      - '.github/workflows/base-test-job.yaml'

jobs:
  build:
    uses: ./.github/workflows/base-build-job.yaml
    with:
      package: facade

  test:
    needs: build
    uses: ./.github/workflows/base-test-job.yaml
    with:
      package: facade
      system: true
      shutdown: facade-srv
