name: build-test-rc-grpc-clients

on:
  workflow_dispatch: {}
  push:
    paths:
      - 'packages/rc-grpc-clients/**'
      - '.github/workflows/build-test-rc-grpc-clients.yaml'
      - '.github/workflows/base-build-job.yaml'
  pull_request:
    paths:
      - 'packages/rc-grpc-clients/**'
      - '.github/workflows/build-test-rc-grpc-clients.yaml'
      - '.github/workflows/base-build-job.yaml'

jobs:
  build:
    uses: ./.github/workflows/base-build-job.yaml
    with:
      package: rc-grpc-clients

  test:
    needs: build
    uses: ./.github/workflows/base-test-job.yaml
    with:
      package: rc-grpc-clients
      system: false
