name: test-koa-req-res-logger

on:
  push:
    paths:
      - 'packages/koa-req-res-logger/**'
      - '.github/workflows/test-koa-req-res-logger.yaml'
      - '.github/workflows/base-test-job.yaml'
  pull_request:
    paths:
      - 'packages/koa-req-res-logger/**'
      - '.github/workflows/test-koa-req-res-logger.yaml'
      - '.github/workflows/base-test-job.yaml'

jobs:
  test:
    uses: ./.github/workflows/base-test-job.yaml
    with:
      package: koa-req-res-logger
      coveralls: true
