name: test-mailer

on:
  push:
    paths:
      - 'packages/mailer/**'
      - '.github/workflows/test-mailer.yaml'
      - '.github/workflows/base-test-job.yaml'
  pull_request:
    paths:
      - 'packages/mailer/**'
      - '.github/workflows/test-mailer.yaml'
      - '.github/workflows/base-test-job.yaml'

jobs:
  test:
    uses: ./.github/workflows/base-test-job.yaml
    with:
      package: mailer
      coveralls: true
